{% extends 'base-back-office.html.twig' %}


{% block mainContent %}
    <h1>List of all the events</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Description</th>
                <th>NombreParticipants</th>
                <th>Lieu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.nom }}</td>
                <td>{{ event.dateDebut ? event.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ event.dateFin ? event.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.nombreParticipants }}</td>
                <td>{{ event.lieu }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Create new</a>
{% endblock %}
