{# 
{% block mainContent %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}



    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
<!DOCTYPE html>
<html lang="en"> #}
 {% extends 'base-front-office.html.twig' %}
    {% block mainContent %}
   

<section class="dashboard-content pt-120">
{% if app.user ==false %}
      <div class="overlay">
        <div class="dashboard-heading">
          <div class="container">
            <div class="row justify-content-lg-end justify-content-between">
              <div class="col-xl-9 col-lg-12">
                <ul class="nav" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="dashboard-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#dashboard"
                      type="button"
                      role="tab"
                      aria-controls="dashboard"
                      aria-selected="false"
                    >
                  
                              
         
                  <div class="setting-personal-details login-password">
                    <h5>Please Sign in</h5>
                    <form method="post">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="single-input">
                           
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="single-input">
                           
                           <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                           <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="single-input">
                            
                            
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <span class="btn-border">
                            <button class="cmn-btn">Sign in</button>
                          </span>
                        </div>
                      </div>
                   </form>
                   {% else %}
                   <div class="dashboard-heading">
      <h5> You are already logged in as {{app.user.firstname}} <h5>
      {% endif %}
      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <!-- Dashboard Content Section end -->

    {# <!-- Betpop Up Modal start -->
    <div class="betpopmodal">
      <div class="modal fade" id="betpop-up" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xxl-8 col-xl-9 col-lg-11">
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="top-item">
                      <a href="javascript:void(0)" class="cmn-btn firstTeam"
                        >Eagle will win</a
                      >
                      <a href="javascript:void(0)" class="cmn-btn active draw"
                        >Draw</a
                      >
                      <a href="javascript:void(0)" class="cmn-btn lastTeam"
                        >Paeek will win</a
                      >
                    </div>
                    <div class="select-odds d-flex align-items-center">
                      <h6>Select Odds</h6>
                      <div class="d-flex in-dec-val">
                        <input type="text" value="1.5" class="InDeVal2" />
                        <div class="btn-area">
                          <button class="plus2">
                            <img
                              src="assets/images/icon/up-arrow.png"
                              alt="icon"
                            />
                          </button>
                          <button class="minus2">
                            <img
                              src="assets/images/icon/down-arrow.png"
                              alt="icon"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="mid-area">
                      <div class="single-area">
                        <div
                          class="item-title d-flex align-items-center justify-content-between"
                        >
                          <span>Bet Value :</span>
                          <select>
                            <option value="eth">ETH</option>
                            <option value="eth">ETH</option>
                            <option value="eth">ETH</option>
                          </select>
                        </div>
                        <div class="d-flex in-dec-val">
                          <input type="text" value="0.1" class="InDeVal1" />
                          <div class="btn-area">
                            <button class="plus">
                              <img
                                src="assets/images/icon/up-arrow.png"
                                alt="icon"
                              />
                            </button>
                            <button class="minus">
                              <img
                                src="assets/images/icon/down-arrow.png"
                                alt="icon"
                              />
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="single-area quick-amounts">
                        <div class="item-title d-flex align-items-center">
                          <p>Quick Amounts</p>
                        </div>
                        <div class="input-item">
                          <button class="quickIn">0.005</button>
                          <button class="quickIn">0.025</button>
                          <button class="quickIn">0.1</button>
                          <button class="quickIn">0.5</button>
                          <button class="quickIn">2.5</button>
                        </div>
                      </div>
                      <div class="single-area smart-value">
                        <div class="item-title d-flex align-items-center">
                          <p class="mdr">Smart Contact Value</p>
                        </div>
                        <div class="contact-val d-flex align-items-center">
                          <h4>0.1103</h4>
                          <h5>ETH</h5>
                        </div>
                      </div>
                    </div>
                    <div class="bottom-area">
                      <div class="fee-area">
                        <p>
                          Winner will get: <span class="amount">0.179</span> ETH
                        </p>
                        <p class="fee">Escrow Fee: <span>5%</span></p>
                      </div>
                      <div class="btn-area">
                        <button>Make (0.1 ETH) Bet</button>
                      </div>
                      <div class="bottom-right">
                        <p>Game Closes:</p>
                        <p class="date-area">
                          Mar <span>21,2021-1:00</span> Am
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> #}
    {% endblock %}
    {% block footer %}
      {% endblock %}
