{# #}
{#{% block mainContent %}#}
{#<form method="post">#}
{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}



{#    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#    <label for="inputEmail">Email</label>#}
{#    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
{#    <label for="inputPassword">Password</label>#}
{#    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

{#    <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}"#}
{#    >#}

{#    #}

{#    <button class="btn btn-lg btn-primary" type="submit">#}
{#        Sign in#}
{#    </button>#}
{#</form>#}
{#{% endblock %}#}
{#<!DOCTYPE html>#}
{#<html lang="en"> #}
{# {% extends 'base-front-office.html.twig' %}#}
{#    {% block mainContent %}#}
{#   #}

{#<section class="dashboard-content pt-120">#}
{#{% if app.user ==false %}#}
{#      <div class="overlay">#}
{#        <div class="dashboard-heading">#}
{#          <div class="container">#}
{#            <div class="row justify-content-lg-end justify-content-between">#}
{#              <div class="col-xl-9 col-lg-12">#}
{#                <ul class="nav" role="tablist">#}
{#                  <li class="nav-item" role="presentation">#}
{#                    <button#}
{#                      class="nav-link"#}
{#                      id="dashboard-tab"#}
{#                      data-bs-toggle="tab"#}
{#                      data-bs-target="#dashboard"#}
{#                      type="button"#}
{#                      role="tab"#}
{#                      aria-controls="dashboard"#}
{#                      aria-selected="false"#}
{#                    >#}
{#                  #}
{#                              #}
{#         #}
{#                  <div class="setting-personal-details login-password">#}
{#                    <h5>Please Sign in</h5>#}
{#                    <form method="post">#}
{#                      <div class="row">#}
{#                        <div class="col-lg-12">#}
{#                          <div class="single-input">#}
{#                           #}
{#                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
{#                          </div>#}
{#                        </div>#}
{#                        <div class="col-lg-12">#}
{#                          <div class="single-input">#}
{#                           #}
{#                           <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}
{#                           <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}">#}
{#                          </div>#}
{#                        </div>#}
{#                        <div class="col-lg-12">#}
{#                          <div class="single-input">#}
{#                            #}
{#                            #}
{#                          </div>#}
{#                        </div>#}
{#                        <div class="col-lg-12">#}
{#                          <span class="btn-border">#}
{#                            <button class="cmn-btn">Sign in</button>#}
{#                          </span>#}
{#                        </div>#}
{#                      </div>#}
{#                   </form>#}
{#                   {% else %}#}
{#                   <div class="dashboard-heading">#}
{#      <h5> You are already logged in as {{app.user.firstname}} <h5>#}
{#      {% endif %}#}
{#      </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      #}
{#    </section>#}
{#    <!-- Dashboard Content Section end -->#}


{#    {% endblock %}#}
{#    {% block footer %}#}
{#      {% endblock %}#}
