{# {% extends 'base-front-office.html.twig' %}

{% block mainContent %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}



    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
      
        {{ form_row(registrationForm.roles) }}
        {{ form_row(registrationForm.agreeTerms) }}  

        <button type="submit" class="btn">Register</button>
        
    {{ form_end(registrationForm) }}
{% endblock %} #}
{% extends 'base-front-office.html.twig' %}
{% block mainContent %}


	<section class="dashboard-content pt-120">
		{% if app.user ==false %}
			<div class="overlay">
				<div class="dashboard-heading">
					<div class="container">
						<div class="row justify-content-lg-end justify-content-between">
							<div class="col-xl-9 col-lg-12">
								<ul class="nav" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="dashboard-tab" data-bs-toggle="tab" data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false"></button>


										<div class="setting-personal-details login-password">
											<h5>Please Sign in</h5>
{{ form_start(registrationForm,{'attr': {'novalidate': 'novalidate'}}) }}

											<div class="row">
												<div class="col-lg-12">
													<div class="single-input">

														{{ form_row(registrationForm.email) }}
													</div>
												</div>
												<div class="col-lg-12">
													<div class="single-input">

														{{ form_row(registrationForm.agreeTerms) }}

													</div>
												</div>
												<div class="col-lg-12">
													<div class="single-input">

														{{ form_row(registrationForm.lastname) }}

													</div>
												</div>
												<div class="col-lg-12">
													<div class="single-input">

														{{ form_row(registrationForm.firstname) }}

													</div>
												</div>
												<div class="col-lg-12">
													<div class="single-input">

														{{ form_row(registrationForm.phonenumber) }}
													</div>
												</div>
												<div class="col-lg-12">
													<div class="single-input">

														{{ form_row(registrationForm.profile_picture) }}

													</div>
												</div>


												<div class="col-lg-12">
													<div class="single-input">

														{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
														<div class="col-lg-12">
															<div class="single-input">

																{{ form_row(registrationForm.roles) }}
															</div>
														</div>


													</div>
												</div>


												<div class="col-lg-12">

													<div class="single-input">

														{{ form_row(registrationForm.agreeTerms) }}


													</div>


												</div>
												<div class="col-lg-12">

													<div class="single-input">

														<button type="submit" class="cmn-btn">Register</button>
													</div>
												</div>


												<div class="col-lg-12">
													<div class="single-input">


														{{ form_end(registrationForm) }}
													{% else %}
														<div class="dashboard-heading">
															  <h5>
																You are already logged in as
																{{app.user.firstname}}
																</h5>
																{% endif %}

															</div>
														</div>
													</div>
												</div>
									</li>
								</div>
							</li>
						</div>
					</section>
					<!-- Dashboard Content Section end -->


				{% endblock %}
				{% block footer %}{% endblock %}
