<!doctype html>
<html lang="en">


<!-- Mirrored from pixner.net/bitbetio/main/blog-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Feb 2022 21:37:05 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calometre</title>

    <link rel="shortcut icon" href="{{ asset('front-office/assets/images/fav.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('front-office/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/assets/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/assets/css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/assets/css/plugin/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/assets/css/plugin/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/assets/css/plugin/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/assets/css/arafat-font.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/assets/css/plugin/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/assets/css/style.css') }}">
    {% block styles %}
    {% endblock %}
</head>

<body>
<!-- start preloader -->
{#<div class="preloader" id="preloader"></div>#}
<!-- end preloader -->

<!-- Scroll To Top Start-->
<a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
<!-- Scroll To Top End -->

<!-- header-section start -->
{% block header %}
    <header class="header-section">
        <div class="overlay">
            <div class="container">
                <div class="row d-flex header-area">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="{{ asset('front-office/assets/images/calometre.png') }}" class="logo" alt="logo">
                        </a>
                        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbar-content">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
<li class="nav-item">
	<a class="nav-link " aria-current="page" href="{{path('home')}}">Accueil</a>

</li>

<li class="nav-item">
	<a class="nav-link" href="{{ path('app_alim_front') }}">Aliments</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ path('exercice_front') }}">Exercices</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ path('event_client_index') }}">Evenements</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ path('product_front_index') }}">Produits</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{ path('reclamation_new') }}">Réclamations</a>
</li>

                            </ul>
                            <div class="right-area header-action d-flex align-items-center max-un">
                                {% if app.user %}
                                    <a href="{{path('user')}}" type="button" >
                                        {{app.user.firstname}}
                                    </a>
                                    <a href="{{ path('app_logout') }}" type="button" class="cmn-btn reg" >
                                        Logout
                                    </a>
                                {% else %}


                                    <a href="{{ path('app_login')}}" type="button" class="login" >
                                        Se connecter
                                    </a>
                                    <button type="button" class="cmn-btn reg" data-bs-toggle="modal"
                                            data-bs-target="#loginMod">
                                        S'inscrire
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- header-section end -->
{% endblock %}

<!-- Login Registration start -->

<div class="log-reg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="modal fade" id="loginMod">

                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <ul class="nav log-reg-btn justify-content-around">
                                <li class="bottom-area" role="presentation">
                                    <button class="nav-link" id="regArea-tab" data-bs-toggle="tab"
                                            data-bs-target="#regArea" type="button" role="tab" aria-controls="regArea"
                                            aria-selected="false">
                                         S'inscrire
                                    </button>
                                </li>
                                         
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="loginArea" role="tabpanel"
                                     aria-labelledby="loginArea-tab">
                                    <div class="login-reg-content">
                                        <div class="modal-body">
                                            <div class="head-area">
                                                <h6 class="title">Login Direetly With</h6>
                                                <div class="social-link d-flex align-items-center">
                                                    <a href="javascript:void(0)" class="active"><i
                                                                class="fab fa-facebook-f"></i></a>
                                                    <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                                    <a href="javascript:void(0)"><i
                                                                class="fab fa-linkedin-in"></i></a>
                                                    <a href="javascript:void(0)"><i
                                                                class="fab fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="form-area">
                                                <div class="bottom-area text-center">
                                                    <p>Déja membre ? <a href="javascript:void(0)" class="reg-btn">S'inscrire</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="tab-pane fade" id="regArea" role="tabpanel"
                                     aria-labelledby="regArea-tab">
                                    <div class="login-reg-content regMode">
                                        <div class="modal-body">
                                            <div class="head-area">
                                                <h6 class="title">S'inscrire sur calometre</h6>
                                                <div class="social-link d-flex align-items-center">
                                                    <a href="javascript:void(0)" class="active"><i
                                                                class="fab fa-facebook-f"></i></a>
                                                    <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                                    <a href="javascript:void(0)"><i
                                                                class="fab fa-linkedin-in"></i></a>
                                                    <a href="javascript:void(0)"><i
                                                                class="fab fa-instagram"></i></a>
                                                </div>
                                            </div>

                                            <div class="form-area">
                                                {{ form_start(registrationForm )}}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="single-input">

{{ form_row(registrationForm.firstname,{'attr':{'placeholder':'Nom'}}, {label: 'Nom'} ) }}

                                                        </div>
                                                        <div class="single-input">

                                                            {{ form_row(registrationForm.lastname,{'attr':{'placeholder':'Prénom'}}, {label: 'Prénom'} ) }}
                                                        </div>
                                                        <div class="single-input">

                                                            {{ form_row(registrationForm.email,{'attr':{'placeholder':'E-mail'}}, {label: 'E-mail'} ) }}
                                                        </div>
                                                        <div class="single-input">

                                                            {{ form_row(registrationForm.plainPassword,{'attr':{'placeholder':'Mot de passe'}}, {label: 'Mot de passe'} ) }}
                                                        </div>
                                                                                                                   
                                                        <div class="single-input">
{{ form_row(registrationForm.phonenumber,{'attr':{'placeholder':'Numéro de téléphone'}}, {label: 'Numéro de téléphone'} ) }}

                                                        </div>
                                                        <div class="single-input">

{{ form_row(registrationForm.countryCode,{'attr':{'placeholder':'Code pays'}}, {label: 'Code pays'} ) }}

                                                        </div>
                                                        <div class="file-custom">

                                                            {{ form_row(registrationForm.profile_picture,{'attr':{'class':'file-upload'}}) }}
                                                        </div>
                                                        <div class="single-input">

                                                            {{ form_row(registrationForm.roles,{label:'Role'}) }}
                                                        </div>
                                                        <div class="single-input">

{{ form_row(registrationForm.captcha,{'attr':{'placeholder':'Veuillez taper le code ci-dessus !'}}) }}


                                                        </div>
                                                        <div class="single-input">

                                                            {{ form_row(registrationForm.agreeTerms,{'attr':{'class':'checkmark'}}) }}
                                                        </div>

                                                    </div>
                                                                                                
                                                    <span class="btn-border w-100">
                                                                <button type="submit" class="cmn-btn w-100"> S'inscrire </button>
                                                            </span>
                                                </div>
                                                {{ form_end(registrationForm) }}


                                                <div class="bottom-area text-center">
<p>Déjà membre ?
	<a href="{{ path('app_login') }}"

                                                                             class="log-btn">Se connecter</a></p>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Login Registration end -->


<!-- Main content start -->

{% block mainContent %}
{% endblock %}

<!-- Main content end -->
{% block footer %}

    <!-- Footer Area Start -->
<footer class="footer-section">
	<div class="container pt-120">

		<div class="footer-bottom-area pt-120">
			<div class="row">
				<div class="col-xl-12">
					<div class="menu-item">
						<a
							href="index.html" class="logo">{#                            <img src="{{ asset('front-office/assets/images/app logo.png') }}" alt="logo">#}
						</a>
						<ul class="footer-link">
							<li>
								<a href="contact.html">Contact</a>
							</li>
							<li>
								<a href="terms-conditions.html">Termes et conditions</a>

							</li>

						</ul>
					</div>
				</div>
				<div class="col-12">
					<div class="copyright">
						<div class="copy-area">
							<p>
								Tout droit réservé  ©

								<a href="{{path('home')}}">Calometre</a>

							</p>
						</div>
						<div class="social-link d-flex align-items-center">
							<a href="javascript:void(0)">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="javascript:void(0)">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="javascript:void(0)">
								<i class="fab fa-linkedin-in"></i>
							</a>
							<a href="javascript:void(0)">
								<i class="fab fa-instagram"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer

    <!-- Footer Area End -->
{% endblock %}

<!--==================================================================-->
{% block scripts %}
    <script src="{{ asset('front-office/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/fontawesome.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/plugin/slick.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/plugin/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/plugin/jquery.downCount.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/plugin/counter.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/plugin/waypoint.min.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/plugin/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/plugin/wow.min.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/plugin/plugin.js') }}"></script>
    <script src="{{ asset('front-office/assets/js/main.js') }}"></script>
{% endblock %}
</body>


</html>