{% extends 'base-front-office.html.twig' %}

{% block mainContent %}
    <section class="tournaments-section">
        <div class="overlay pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="section-header text-center">
                            <h5 class="sub-title">Grow your Muscles With calométre</h5>
                            <h2 class="title">Recettes</h2>

                        </div>
                    </div>
                </div>
                {{ form_start(search_form) }}
                {{ form_widget(search_form) }}
                {{ form_end(search_form) }}

                {{ form_start(search2_form) }}
                {{ form_widget(search2_form) }}
                {{ form_end(search2_form) }}

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="ongoing" role="tabpanel" aria-labelledby="ongoing-tab">
                        <div class="row">
                            <div class="col-12">
                                {% for recette in recettes %}
                                    <div class="single-item">
                                        <div class="left-item">
                                            <div class="logo-item">

                                                <img src="{{ asset('uploads/recette/' ~ recette.image   ) }}" class="logo" alt="logo">
                                            </div>
                                            <div class="mid-area">
                                                <h3>{{recette.name}}</h3>
                                                <ul>
                                                    <li>
                                                        <p>{{recette.Categorie}}</p>

                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                        <div class="last-item">
                                            <h6>nombre total de calories</h6>
                                            <h4>{{ recette.nbrcal() }}</h4>

                                            <table class="table">
                                                <thead>
                                                <tr>

                                                    <th>nom</th>
                                                    <th>Categorie</th>
                                                    <th>calories</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for aliment in recette.aliments %}
                                                    <tr>
                                                        <td>{{ aliment.name }}</td>
                                                        <td>{{ aliment.categorie }}</td>
                                                        <td>{{ aliment.calories }}</td>




                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="5">no records found</td>
                                                    </tr>

                                                {% endfor %}

                                                </tbody>
                                            </table>
                                            <a href="{{ path('recette_pdf', {'id': recette.id}) }}">Telécharger la recette</a>
                                            <a href="#" class="btn btn-link js-like-ling">

                                                    <i class="fas fa-thumbs-up"></i>

                                                <i class="far fa-thumbs-up"></i>

                                                <span  class="js-likes"> {{ recette.likes | length}} </span>
                                                <span  class="js-label"> j'aime</span>



                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}




                </div>
            </div>
        </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}


