{% extends 'base-front-office.html.twig' %}
   {% block styles %}
       <meta property="og:type"          content="website" />
       <meta property="og:title"         content="Your Website Title" />
       <meta property="og:description"   content="Your description" />
       <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
       <link rel="stylesheet" href="{{ asset('front-office/assets/css/my.css') }}">
   {% endblock %}


{% block mainContent %}
    <div class="row justify-content-center">
        <div class="col-xxl-8 col-lg-7">
            <div class="blog-post">

                <div class="author-blog-post d-flex">
                    <div class="author">
                        <img src="{{ asset('front-office/assets/images/author-img.png') }}" class="author-img" alt="image">
                        <div class="author-bottom">

                            <a href="javascript:void(0)" class="icon-area"id="nbParticipantsShowed">
                                <i class="fas fa-user"></i>
                                <p class="mdr" >{{ event.nombreParticipants }}</p>
                            </a>
                        </div>
                    </div>
                    <div class="author-content">
                        {% if  event.nombreParticipants == 0%}
                            <div class="img__wrapper">
                                <img src="{{ asset('uploads/Event_images/' ~ event.image) }}"/>
                                <a class="sold_out" >Sold out</a>
                            </div>
                            {% else %}
                                <img src="{{ asset('uploads/Event_images/' ~ event.image) }}"/>
                        {% endif %}


                        <h3 class="title">{{ event.nom }}</h3>
                        <p style="font-size: 15px">from : {{ event.dateDebut ? event.dateDebut|date('Y-m-d') : '' }} to :{{ event.dateFin ? event.dateFin|date('Y-m-d') : '' }} </p>
                        <div class="para-area">
                            <p>{{ event.description }}</p>

                        </div>

                    </div>
                </div>
                <div class="bottom-item d-flex justify-content-between align-items-center">
                    <div id="fb-root"></div>

                    <div class="fb-share-button"
                         data-layout="button_count">
                    </div>
                    <form action="#">
                        <div class="form-group">
                            <div class="social-link d-flex align-items-center">
                                {% if alreadyApplied == false %}
                                {% if  event.nombreParticipants > 0%}
                                <button id="apply">Apply to event</button>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="comments-area mt-60 mb-60">
                <h3 class="title">{{ comments|length }} Comments</h3>
                {% for comment in comments %}
                <div class="single-comments">
                    <div class="left-area">
                        <img src="{{ asset('front-office/assets/images/comments-img-1.png') }}" alt="image">
                    </div>
                    <div class="right-area">
                        <h5>{{ comment.user.login }}</h5>
                        <p class="mdr">{{ event.dateDebut ? event.dateDebut|date('Y-m-d H:m') : '' }}</p>
                        <p>{{ comment.commentcontent }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>




            <div class="leave-comments">
                <h3 class="title">Leave a Comment</h3>
                {{ form_start(form) }}
                    <div class="row">


                        <div class="col-12">
                            <div class="single-input">
                                <label for="comment">Comment</label>
                                {{ form_widget(form.commentcontent) }}

                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-6">
                            <div class="btn-border w-100">
                                <button class="cmn-btn w-100">Submit Now</button>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-xxl-4 col-lg-5 col-md-7 col-sm-9">
            <div class="sidebar-blog position-sticky top-0">
                <div class="sidebar-single">
                    <h5 class="title">Search</h5>
                    <form action="#">
                        <div class="form-group">
                            <input type="text" placeholder="Enter your Search Content">
                            <div class="btn-border">
                                <button class="cmn-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="sidebar-single">
                    <h5 class="title">Latest Post</h5>
                    <div class="sidebar-carousel">
                        <div class="single-slide">
                            <img src="assets/images/blog-slider-img-1.png" alt="image">
                            <h6 class="title">Top Ten Betting Mistakes</h6>
                            <div class="slide-bottom d-flex align-items-center">
                                <div class="icon-area">
                                    <i class="fas fa-comments"></i>
                                    <span class="mdr">20 Comments</span>
                                </div>
                                <div class="icon-area">
                                    <i class="far fa-eye"></i>
                                    <span class="mdr">466 View</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-slide">
                            <img src="assets/images/blog-slider-img-1.png" alt="image">
                            <h6 class="title">Top Ten Betting Mistakes</h6>
                            <div class="slide-bottom d-flex align-items-center">
                                <div class="icon-area">
                                    <i class="fas fa-comments"></i>
                                    <span class="mdr">20 Comments</span>
                                </div>
                                <div class="icon-area">
                                    <i class="far fa-eye"></i>
                                    <span class="mdr">466 View</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-single">
                    <h5 class="title">Follow Us</h5>
                    <form action="#">
                        <div class="form-group">
                            <div class="social-link d-flex align-items-center">
                                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>





    <script>
        var participerButton = document.getElementById('apply');
        addOnClick(
            participerButton,'{{ path('participer_event') }}'
        );

        function hideButton(button){
                button.disabled = true;
                button.style.display = 'none' ;


        }
        function addOnClick(button,path){

            button.addEventListener('click',function(event){


                hideButton(button);
                $.ajax({
                    url : "{{ path('participer_event') }}",
                    type : 'GET',
                    data: {
                        'eventId' : {{ event.id }}
                    },
                    success : function(retour)
                    {
                        $('#nbParticipantsShowed').html(retour);
                    },
                });
            });
        }
    </script>

{% endblock %}