{% extends 'base-back-office.html.twig' %}


{% block mainContent %}
<main id="main" class="main">

		<div class="pagetitle">
			<h1>Type exercice</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						{# <a href="{{path('edit_admin')}}">Admin</a> #}
					</li>
					<li class="breadcrumb-item active">
						<a href="{{path('typeexercice_index')}}">TypeExercices</a>
					</li>

				</ol>
			</nav>
		</div>
    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeexercice.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ typeexercice.nom }}</td>
            </tr>
        </tbody>
    </table>
<div>
    <a href="{{ path('typeexercice_index') }}"button class="btn btn-secondary">back to list</a>

    <a href="{{ path('typeexercice_edit', {'id': typeexercice.id}) }}"button class="btn btn-warning">edit</a>

    {{ include('typeexercice/_delete_form.html.twig') }}
    </div>
{% endblock %}
