{% extends 'pdf.html.twig' %}



{% block body %}
    <h1>Recette</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ recette.Name }}</td>
        </tr>
        <tr>
            <th>Categorie</th>
            <td>{{ recette.categorie }}</td>
        </tr>
        <tr>
            <th>Regime</th>
            <td>{{ recette.regime }}</td>
        </tr>
        <tr>
            <th>Liste des aliments</th>
            {% for aliment in recette.aliments %}
                <td>{{ aliment.name}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Nombre totale de calories</th>
            <td>{{ recette.nbrcal() }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
