{% extends 'base-back-office.html.twig' %}



{% block mainContent %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>








    <h1>Liste des aliments</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Catégorie</th>
                <th>Calories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aliment in aliments %}
            <tr>
                <td>{{ aliment.id }}</td>
                <td>{{ aliment.name}}</td>
                <td>{{ aliment.categorie }}</td>
                <td>{{ aliment.calories }}</td>
                <td>
                    <a href="{{ path('aliment_show', {'id': aliment.id}) }}">show</a>
                    <a href="{{ path('aliment_edit', {'id': aliment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('aliment_new') }}">Create new</a>
{% endblock %}
