{% extends 'base-back-office.html.twig' %}



{% block mainContent %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <meta content="" name="description">
    <meta
            content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link
            href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link
            href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link
            href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
      * Template Name: NiceAdmin - v2.2.2
      * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      ======================================================== -->
</head>
<body>


<link href="back-office/assets/css/vendor.min.css" rel="stylesheet"/>
<link href="back-office/assets/css/app.min.css" rel="stylesheet"/>
<main id="main" class="main">


    <!-- End Page Title -->

    <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1>Liste des aliments</h1>

    {{ include('aliment/search.html.twig') }}
    {{ form_start(search2_form) }}
    {{ form_widget(search2_form) }}
    {{ form_end(search2_form) }}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Catégorie</th>
                <th>Calories</th>
                <th>Listes des recettes</th>
                <th>Lien image associée</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aliment in aliments %}
            <tr>
                <td>{{ aliment.id }}</td>
                <td>{{ aliment.name}}</td>
                <td>{{ aliment.categorie }}</td>
                <td>{{ aliment.calories }}</td>
                <td> {% for recette in aliment.recettes%}
                    {{ recette.name}}</td>
                {% endfor %}
                <td>{{ aliment.Image }}</td>
                <td>
                    <a href="{{ path('aliment_show', {'id': aliment.id}) }}">show</a>
                    <a href="{{ path('aliment_edit', {'id': aliment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('aliment_new') }}">Create new</a>
    <a href="{{ path('aliment_index') }}">back to list</a>
{% endblock %}
