{% extends 'base-back-office.html.twig' %}

{% block mainContent %}
    <h1>Exercice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type </th>
                <th>description</th>
                <th>objectif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercice in exercices %}
            <tr>
                <td>{{ exercice.id }}</td>
                <td>{{ exercice.nom }}</td>
                <td>{{ exercice.nomtype }}</td>
                <td>{{ exercice.description }}</td>
                <td>{{ exercice.objectif }}</td>
                 
                <td>
                    <a href="{{ path('exercice_show', {'id': exercice.id}) }}", button class="btn btn-light">show</a>
                    <a href="{{ path('exercice_edit', {'id': exercice.id}) }}", button class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   <div>  

    <a href="{{ path('exercice_new') }}"button class="btn btn-secondary">Create new</a>
    </div>
{% endblock %}











