{% extends 'base-back-office.html.twig' %}

{% block mainContent %}
    <h1>Exercice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exercice.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ exercice.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ exercice.description }}</td>
            </tr>
             <tr>
                <th>Objectif</th>
                <td>{{ exercice.objectif }}</td>
            </tr>
            
            
            
				
    
    
        </tbody>
    </table>
    
	<div>
    <video width="400" controls style="width: 536px;">
  <source src="{{ asset('/uploads/exercices/' ~ exercice.video) }}" type="video/mp4">
  
</video>
</div>
		
	
    <div>
    <a href="{{ path('exercice_index') }}"button class="btn btn-light">back to list</a>

    <a href="{{ path('exercice_edit', {'id': exercice.id}) }}"button class="btn btn-light">edit</a>
 </div>
 <div>
    {{ include('exercice/_delete_form.html.twig') }}
   </div>
{% endblock %}
