{% extends 'base-front-office.html.twig' %}



{% block mainContent %}
    <section class="tournaments-section">
        <div class="overlay pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="section-header text-center">
                            <h5 class="sub-title">Grow your Muscles With calométre</h5>
                            <h2 class="title">Aliments</h2>

                        </div>
                    </div>
                </div>
                {{ form_start(search_form) }}
                {{ form_widget(search_form) }}
                {{ form_end(search_form) }}

                {{ form_start(search2_form) }}
                {{ form_widget(search2_form) }}
                {{ form_end(search2_form) }}

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="ongoing" role="tabpanel" aria-labelledby="ongoing-tab">
                        <div class="row">
                            <div class="col-12">
                                {% for aliment in aliments %}
                                <div class="single-item">
                                    <div class="left-item">
                                        <div class="logo-item">

                                            <img src="{{ asset('uploads/aliment/' ~ aliment.image   ) }}" class="logo" alt="logo">
                                        </div>
                                        <div class="mid-area">
                                            <h3>{{aliment.name}}</h3>
                                            <ul>
                                                <li>
                                                    <p>{{aliment.categorie}}</p>

                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                    <div class="last-item">
                                        <h6>Calories</h6>
                                        <h4>{{aliment.calories}}</h4>
                                        <table class="table">
                                            <thead>
                                            <tr>

                                                <th>nom</th>
                                                <th>Categorie</th>
                                                <th>régime</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for recette in aliment.recettes %}
                                                <tr>
                                                    <td>{{ recette.name }}</td>
                                                    <td>{{ recette.categorie }}</td>
                                                    <td>{{ recette.regime }}</td>

                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="5">no records found</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </section>
{% endblock %}
