{% extends 'base-front-office.html.twig' %}



{% block mainContent %}
    <section class="tournaments-section">
        <div class="overlay pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="section-header text-center">
                            <h5 class="sub-title">Grow your Muscles With calométre</h5>
                            <h2 class="title">Aliments</h2>

                        </div>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="ongoing" role="tabpanel" aria-labelledby="ongoing-tab">
                        <div class="row">
                            <div class="col-12">
                                {% for aliment in aliments %}
                                <div class="single-item">
                                    <div class="left-item">
                                        <div class="logo-item">

                                            <img src="{{ asset('uploads/aliment/' ~ aliment.image   ) }}" class="logo" alt="logo">
                                        </div>
                                        <div class="mid-area">
                                            <h3>{{aliment.name}}</h3>
                                            <ul>
                                                <li>
                                                    <p>{{aliment.categorie}}</p>

                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                    <div class="last-item">
                                        <h6>Calories</h6>
                                        <h4>{{aliment.calories}}</h4>
                                        <span class="btn-border">
                                            <a href="tournaments-details.html" class="cmn-btn">Voir toutes les recettes contenant {{aliment.name}}</a>
                                        </span>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>
{% endblock %}
