{% extends 'base-back-office.html.twig' %}
{#{% block header %}#}
{#{% endblock %}#}
{#{% block sidebar %}#}
{#{% endblock %}#}



{% block mainContent %}




    <main id="main" class="main">

        <div class="pagetitle">
            <h1>General Tables</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Tables</li>
                    <li class="breadcrumb-item active">General</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">

                <div class="col-lg-6">

                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Table with hoverable rows</h5>

                        <!-- Table with hoverable rows -->
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>

                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Phone number</th>
                                <th>Role</th>
                                <th>Profile picture
                                </th>
                                <th>Verification status
                                </th>
                                <th>Ban</th>
                                <th>Ban status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}

                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phonenumber }}</td>
                                <td>{{ user.roles|join(', ')}}</td>
                                <td>
                                    <div class="img-area" style="width:0%">

                                        <img src="{{ asset('uploads/profilePicture/' ~ app.user.ProfilePicture) }}" width="60" height="60" alt="icon"> </div></td>

                                </td>
                                <td>


                                    <p>
                                        {% if user.isVerified == '0' %}
                                    <p style="color:red;">Unverfied.</p>
                                    {% else %}
                                        <p style="color:green;">Verfied.</p>
                                    {% endif %}
                                    </p>
                                </td>
                                <td class="text-center">
                                    <a href="{{ path('ban_user',{'id':user.id}) }}" type="button" class="btn btn-danger " >
                                        <i class="mdi mdi-lock-outline btn-icon-prepend" style="color: white"></i>
                                        Ban</a>
                                </td>
                                <td>
                                    <p>
                                        {% if user.isbanned == '1' %}
                                    <p style="color:red;">banned.</p>
                                    {% else %}
                                        <p style="color:green;">not banned.</p>
                                    {% endif %}
                                    </p>
                                </td>

                            </tr>
                            </a>
                            <p></p>
                            </tbody>

                            </tbody>
                            {% endfor %}
                        </table>
                        {{ pagerfanta(users) }}
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>

            </div>
            </div>
        </section>

    </main><!-- End #main -->


    </body>
{% endblock %}
