{% extends 'base-back-office.html.twig' %}


{% block mainContent %}
	<div class="container">


		<div class="row justify-content-center">

			<div class="col-xl-10">

				<div class="row">

					<div class="col-xl-9">
						<ul class="breadcrumb"></ul>
						<h1 class="page-header">
							Users List<small></small>
						</h1>
						<hr class="mb-4"/>
						<div class="card">
							<div class="card-body">
								<table id="datatableDefault" class="table text-nowrap w-100">
									<thead>
										<tr>
											<th>#</th>
											<th>ID</th>
											<th>First name</th>
											<th>Last name</th>
											<th>Email</th>
											<th>Phone number</th>
											<th>Role</th>
											<th>Profile picture
											</th>
											<th>Role
											</th>
											<th>Ban</th>
											<th>Ban status</th>


										</tr>
									</thead>
									<tbody>
										{% for user in users %}

											<tr>
												<td>1.</td>
												<td>{{ user.id }}</td>
												<td>{{ user.firstname }}</td>
												<td>{{ user.lastname }}</td>
												<td>{{ user.email }}</td>
												<td>{{ user.phonenumber }}</td>
												<td>{{ user.roles|join(', ')}}</td>
												<td>
													<div class="img-area" style="width:0%">
														<img src="{{ asset('uploads/profilePicture/' ~ app.user.ProfilePicture) }}" width="60" height="60" alt="icon"></td>
												</td>
												<td>


													<p>
														{% if user.isVerified == '0' %}
															<p style="color:red;">Unverfied.</p>
														{% else %}
															<p style="color:green;">Verfied.</p>
														{% endif %}
													</p>
												</td>
												<td class="text-center">
													<a href="{{ path('ban_user',{'id':user.id}) }}" type="button" class="btn btn-danger btn-icon-text" style="color: white">
														<i class="mdi mdi-lock-outline btn-icon-prepend" style="color: white"></i>
														Ban</a>
												</td>
												<td>
													<p>
														{% if user.isbanned == '1' %}
															<p style="color:red;">banned.</p>
														{% else %}
															<p style="color:green;">not banned.</p>
														{% endif %}
													</p>
												</td>

											</tr>
										</a>
										<p></p>
									</tbody>
								</td>
								<td></td>
							</tr>
						</div>
					</tbody>
				</td>
			</tr>
		{% endfor %}

	</tbody>
</table></div><div class="card-arrow">
<div class="card-arrow-top-left"></div>
<div class="card-arrow-top-right"></div>
<div class="card-arrow-bottom-left"></div>
<div class="card-arrow-bottom-right"></div></div></div></div>{% endblock %}
